mixin errorSummary(errors)
  if errors
    div(class='errorAlert')
      p Woof! The following error(s) occured:
      ul
        each error in errors
          li= error

mixin userFormField(labelText, fieldName, fieldValue, fieldType, placeHolder = null)
  div.user-form-field
    label(for=fieldName)= labelText
    input(type=fieldType id=fieldName name=fieldName value=fieldValue placeholder=placeholder class='form-control')

mixin csrfField()
  input(type="hidden" name="_csrf", value=csrfToken)

mixin signUpButton()
  div.user-form-submit
    button.user-form-button#signup-button(type="submit") Sign Up

mixin loginButton()
  div.user-form-submit
  button.user-form-button#login-button(type="submit") Log In

mixin logoutButton()
  div.logout-button-container
  button.user-form-button#main-logout-button(type="submit") Logout

<<<<<<< HEAD
<<<<<<< HEAD
mixin unauth-nav()
  nav(class='unauth-nav') 
    a(class='home' href='/') Doggy Done
    a(class='login' href="/users/login") Log in
    a(class='sign-up' href="/users/register") Sign up for free
=======
mixin loginRedirectButton()
  a.userflow-login-button(href="/users/login") Log In
>>>>>>> 95e75ae (first run of signup styling)
=======
mixin loginRedirectButton()
  a.userflow-login-button(href="/users/login") Log In
=======
mixin unauth-nav()
  nav(class='unauth-nav') 
    a(class='home' href='/') Doggy Done
    a(class='login' href="/users/login") Log in
    a(class='sign-up' href="/users/register") Sign up for free
>>>>>>> 181fd02 (Added css files, logout page, navbar)
>>>>>>> 023a344 (Added css files, logout page, navbar)
