mixin errorSummary(errors)
  if errors
    div(class='errorAlert')
      p Woof! The following error(s) occured:
      ul
        each error in errors
          li= error

mixin userFormField(labelText, fieldName, fieldValue, fieldType, placeHolder = null)
  div.user-form-field
    label(for=fieldName)= labelText
    input(type=fieldType id=fieldName name=fieldName value=fieldValue placeholder=placeholder class='form-control')

mixin csrfField()
  input(type="hidden" name="_csrf", value=csrfToken)

mixin signUpButton()
  div.user-form-submit
    button.user-form-button#signup-button(type="submit") Sign Up

mixin loginButton()
  div.user-form-submit
  button.user-form-button#login-button(type="submit") Log In

mixin logoutButton()
  div.logout-button-container
  button.user-form-button#main-logout-button(type="submit") Logout

mixin loginRedirectButton()
  a.userflow-login-button(href="/users/login") Log In
