mixin errorSummary(errors)
  if errors
    div(class='errorAlert')
      p Woof! The following error(s) occured:
      ul
        each error in errors
          li= error

mixin userFormField(labelText, fieldName, fieldValue, fieldType, placeHolder = null)
  div.user-form-field
    label(for=fieldName)= labelText
    input(type=fieldType id=fieldName name=fieldName value=fieldValue placeholder=placeholder class='form-control')

mixin csrfField()
  input(type="hidden" name="_csrf", value=csrfToken)

mixin signUpButton()
  div.user-form-submit
    button.user-form-button#signup-button(type="submit") Sign Up

mixin loginButton()
  div.user-form-submit
  button.user-form-button#login-button(type="submit") Log In

mixin logoutButton()
  div.logout-button-container
  button.user-form-button#main-logout-button(type="submit") Logout

mixin unauth-nav()
  nav(class='unauth-nav')
  div
    a(class='home' href='/') Doggy Done
  div
    a(class='login' href="/users/login") Log in
  div
    a(class='sign-up' href="/users/register") Sign up for free
mixin loginRedirectButton()
  a.userflow-login-button(href="/users/login") Log In

mixin auth-nav()
  header.header-nav
    input(type="checkbox" id='hamburger')
    #nav-links
      label(for="hamburger" id="sub-nav-toggle")
        span
    h3(id='menu-title' class='active') All tasks
  .signOut-settings-container
    form(method="post" action="/users/logout" id="btn-form")
      button(id="nav-sign-out") Sign Out
    .settings-wheel-dropdown-container
        button(id="settings-wheel-click")
          i(class="fa-solid fa-gear" id="gear-drop-down")
          .drop-down-content
            a(id="user-name") Username
            a(id="email") Email
            a(id="settings") Settings

mixin breedSelect
  select.breed-select(name="breedId")
    if breeds
        each breed in breeds
            option(value=breed.id)=breed.name
